# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.pac-man clone.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Yliopisto toita\GitHub\PacManClone\PacManClone\pac-man clone\.idea\.idea.pac-man clone\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
